# Dependencies
node_modules/
vendor/

# Build artifacts
public/build/
web/app/themes/*/public/build/

# WordPress core
web/wp/
web/app/languages/
web/app/plugins/
web/app/mu-plugins/

# Sauf si tu as des plugins spécifiques non-Composer que tu veux garder :
# !../../plugins/mon-plugin-maison/

# Uploads
web/app/uploads/

# Environment secrets
.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

cli.md

# Cache d'Acorn / Sage
/storage/framework/cache
/storage/framework/views
/web/app/cache/acorn

# Si tu n'as pas de dossier storage séparé, celui-ci est le plus courant pour Sage 10+ :
dist
*.log

*.sql
web/app/updraft/web.config
web/app/updraft/.htaccess
web/app/updraft/index.html
web/app/litespeed/
